.calendar {
  font: 16px sans-serif;
  shape-rendering: crispEdges;
}

.badge {
 	font: 16px sans-serif;
	font-weight:bold;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.filled {
	cursor: pointer;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.calendar_rect_empty {fill: #999999;}
.calendar_rect_filled {fill: #428bca;}
.calendar_rect_filled:hover {fill: #3071a9;}
.calendar_rect_other {fill: #5bc0de;}
.calendar_rect_other:hover {fill: #39b3d7;}

/*.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(20,100,200)}*/

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}

.carousel {
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
		width: 150px;    
}
.right-inner-addon button {
    position: absolute;
    right: 0px;
    padding: 7px 30px;
		width: 50px; 
		height: 30px;
}

#carousel-calendar {
	position: absolute;
	margin: -100px 1%;
	overflow:auto;
	height:750px;
	z-index:0;
}

.tooltip {
	position : absolute;
	pointer-events : none;
}