
<div class="ui grid">
   <div class="eight wide column">
       <center><img src='/static/images/1indawo1.svg' style="width:100%"/></center>
   </div>
   <div class="eight wide column" style="text-align:justify;vertical-align: center;" >
       <h3 style="margin-top:50px;">La borne Indawo</h3>
       <p>Cette borne est placée dans la rue, près du chantier. Les utilisateurs ont simplement besoin de venir la toucher avec
       leur smartphone sur l’indicateur dessiner sur la borne pour recevoir de l’information concernant le chantier. 
       Cette information est chargé au début du chantier par le chef de chantier et mise à jour régulièrement en fonction du l’évolution du chantier.</p>
   </div>
</div>