
	<style type="text/css">
		
	</style>
	
	<div class="ui grid" style="background-image:url(/static/images/street1.jpg);background-repeat: no-repeat; background-size: 100% 100%; ">
		{% for r in 'xxxxxxxxxxxxxxxx' %}
	    <div class="row">
	    	{% for c in 'xxxxxxxxxxxxxxxx' %}
	    	{% comment %}
	    		{% if forloop.parentloop.counter0|divisibleby:2 %}
	    			{% if forloop.counter0|divisibleby:2 %}
		    			<div class="column" style="opacity: 0.2">
		    		{% else %} 
		    			<div class="column black" style="opacity: 0.1">
		    		{% endif %}
	    		{% else %}
		    		{% if forloop.counter0|divisibleby:2 %}
		    			<div class="column black" style="opacity: 0.1">
		    		{% else %} 
		    			<div class="column" style="opacity: 0.2">
		    		{% endif %}
	    		{% endif %}
    			{% endcomment %}
	    			<div class="column"><!---->
	    			<span class="case{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }} hide"/>
	    			<br/>
	    				<!--({{ forloop.parentloop.counter0 }},{{ forloop.counter0 }})-->
	    			<br/>
			    </div>
				{% endfor %}
	    </div>
		{% endfor %}
	</div>
      
  <div class="grid"><div class="five wide column">mouahahahah</div></div>
	
	<div class='elgrid'>
			{% for e in data %}
				<div id='div_{{e.2}}' class="popup" data-html='{{e.6}}' style='position: absolute; transform: scale({{e.4}}) rotate({{e.5}}deg);'></div>
			{% endfor %}
	</div>
	

	
	<script>
	
	function grow(el) {
			el.find('g').animate({
				svgTransform: "scale(1)"
				}, 250, function() {
				});
   };
   
   function ungrow(el) {
	   	el.find('g').animate({
					svgTransform: "scale(0.8)"
					}, 250, function() {
					});
		};
	
		$(function() {
			
			$('.popup').popup();
			
			{% for e in data %}
				$.get("/static/images/{{e.3}}", function(data) {
            var $svg = $(data).find('svg');
        		$svg.attr('id', 'svg_{{e.2}}');
        		$svg.attr('class', 'popup clickabe');
					  //$svg.attr('style', 'position: absolute; transform: scale({{e.4}}) rotate({{e.5}}deg);');
					  $svg.attr('onmouseenter','grow($(this))');
					  $svg.attr('onmouseleave','ungrow($(this))');
					  var $colorItem = $svg.find('.mycolor');
					  if(typeof $colorItem.prop("tagName") === 'undefined') {
					  	$svg.attr('fill','{{e.7}}');
					  	$svg.attr('stroke','#000000');
					  } 
					  else {
					  	$colorItem.attr('fill','{{e.7}}');
					  	$colorItem.attr('stroke','#000000');
					  }
            $('#div_{{e.2}}').append($svg);
            $svg.parent().offset($('.case{{e.0}}{{e.1}}').offset());
            $svg.find('g').animate({svgTransform: "scale(0.8)"}, 1, function() {});
				});
				
			{% endfor %}
		
   });
   
   
		
	</script>