
{% for e in data %}
<div class="ui inverted {{e.8}} info_{{e.2}}">
	<div class="content">
	  		{{e.9|safe}}
	</div>
</div>
{% endfor %}

<div class="pusher concept {{n}} background" style='position: absolute;'>
	<div class="ui grid">
{% for r in 'xxxxxxxxxxx' %}
			<div class="row">
	{% for c in 'xxxxxxxxxxxxxxxx' %}
		{% if forloop.parentloop.counter0|divisibleby:2 %}
			{% if forloop.counter0|divisibleby:2 %}
				<div class="column" style="opacity: 0.2">
			{% else %} 
				<div class="column black" style="opacity: 0.1">
			{% endif %}
		{% else %}
			{% if forloop.counter0|divisibleby:2 %}
				<div class="column black" style="opacity: 0.1">
			{% else %} 
				<div class="column" style="opacity: 0.2">
			{% endif %}
		{% endif %}
				<!--	<div class="column"><!---->
					<span class="case{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }} hide"/><br/>
						({{ forloop.parentloop.counter0 }},{{ forloop.counter0 }})
					<br/>
				</div>
	{% endfor %}
			</div>
{% endfor %}
	</div>
	<div class='elements' style=''>
{% for e in data %}
		<div class="popup toggle div_{{e.2}}" 
			onclick=" $('.info_{{e.2}}.modal').modal('setting', 'transition', 'horizontal flip').modal('show');" 
			data-html='{{e.6}}' 
			style='position: absolute; transform: scale({{e.4}}) rotate({{e.5}}deg);'></div>
{% endfor %}
	</div>
</div>
	
	
<script>

function grow(el) {
		el.find('g').animate({
			svgTransform: "scale(1)"
			}, 250, function() {
			});
 };
 
 function ungrow(el) {
   	el.find('g').animate({
				svgTransform: "scale(0.8)"
				}, 250, function() {
				});
	};

	$(function() {
		
{% for e in data %}
		$.get("/static/images/{{e.3}}", function(data) {
          	var $svg = $(data).find('svg');
      		$svg.attr('id', 'svg_{{e.2}}');
      		$svg.attr('class', 'popup clickabe');
			  $svg.attr('onmouseenter','grow($(this))');
			  $svg.attr('onmouseleave','ungrow($(this))');
			  var $colorItem = $svg.find('.mycolor');
			  if(typeof $colorItem.prop("tagName") === 'undefined') {
			  	$svg.attr('fill','{{e.7}}');
			  	$svg.attr('stroke','#000000');
			  } 
			  else {
			  	$colorItem.attr('fill','{{e.7}}');
			  	$colorItem.attr('stroke','#000000');
			  }
          $('.div_{{e.2}}').append($svg);
          $svg.find('g').animate({svgTransform: "scale(0.8)"}, 1, function() {});
          $svg.parent().offset($('.case{{e.0}}{{e.1}}').offset());
          $svg.parent().offset($('.case{{e.0}}{{e.1}}').offset());
				
		});
			
		$('.info_{{e.2}}.sidebar').first()
		  .sidebar('attach events', '.toggle.div_{{e.2}}')
		 ;
			
		{% endfor %}
		
		$('.toggle')
		  .removeClass('disabled');
	
 });
 
 
	
</script>