
{% comment %}

	Template qui gère la disposition des statistiques pour une piece

{% endcomment %}

<script src="/static/js/d3.min.js"></script>

<br/>
<div class="row">
	<center class="col-md-9 col-md-offset-1">	<h1>{{data.name}}</h1>	</center>
	<div class="square bg-default col-md-2" style="float:right"><h3 style="margin:0;padding:0">{{data.complet}}%</h3> de soirée remplis sur la période</div>
</div>
<br/>

<div class="row">
	<div class="col-md-3 col-md-offset-1">
		<div class="bg-danger circle" style="float:left;"><h3 style="margin:0;padding:0">{{data.moyNbSpec}}</h3> visiteurs / j en moyenne</div>
		<div class="bg-warning circle" style="float:left; margin-top:10em;"><h3 style="margin:0;padding:0">{{data.nbRep}}</h3> rep. sur la période</div>
	</div>
	<div class="col-md-6">
		{% include "chart_pie.html" with data=data.pie chartId='cid1' width=480 height=250 %}
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-offset-1">
		{% include "chart_line.html" with data=data.nbSpecL  metadata=data.nbSpecLMeta chartId='cid3' width=960 height=300  %}
	</div>
</div>
<div class="row">
	<div class="col-md-offset-1">
		{% include "chart_bar.html" with data=data.nbSpec  metadata=data.nbSpecMeta chartId='cid2' width=960 height=300  %}
	</div>
</div>

<br/>

{% for group,element in list.items %}
<h3>{{group}}</h3>
<table class="table table-striped">
{% for id,item in element.items %}
	<tr><th><a href="/{{group}}/{{id}}">{{item}}</a></th></tr>
{% endfor %}
</table>
{% endfor %}

