
{% comment %}

	Page de login

	Ce template gère les inputs d'identifiant et de mot de passe pour la connexion
	ainsi que le bouton connexion/deconnexion

{% endcomment %}


{% if user.is_authenticated %}

	<a href="/logout">
		<button type="button" class="btn btn-block" style="text-align: left; padding-left: 1em; padding-right: 1em;">
			Déconnexion <span class="glyphicon glyphicon-log-out" style="float:right;"/>
		</button>
	</a>
	
{% else %}
	
	<div>
		<form class="form-signin" action="/login/" method="post"> {% csrf_token %}
			<h5 class="form-signin-heading"> - Connexion - </h5>
			<input type="text" class="form-control" placeholder="Identifiant" id="username" name="username">
			<input type="password" class="form-control" placeholder="Mot de passe" name="password" id="password">
			<script type="text/javascript">
				document.write("<input type=\"hidden\" name=\"next\" value=\"");
				document.write(location.href);
				document.write("\" />");
			</script>
			<button type="submit" class="btn btn-block" style="text-align: left; padding-left: 1em; padding-right: 1em;">
				Se Connecter<span class="glyphicon glyphicon-log-in" style="float:right;"/>
			</button>
		</form>
	</div>
	
{% endif %}