{%comment%}

	Page de base, toutes les autres page sont une extension de celle-ci
	
	Lorsque que l'on extend ce template, on peut redéfinir deux block
		Title : le titre de la page
		Content : le contenu de la page

{%endcomment%}

{% load math_filter %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Base page{% endblock %}</title>
	<!--<link rel="icon" type="image/png" href="/images/mafavicon.png" />-->
  
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-theme.css" rel="stylesheet">
  
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>
	
</head>

<body>   
	</br>
  <div class="row">
		<div class="col-md-3"></div>
    <!--<div class="col-md-6" style="text-align: center;"><img src="/static/images/header.png" style=" width: 100%;"/></div>-->
    <div class="col-md-6" style="text-align: center;"></br><a href="/"><b><h1>Regital</h1></b></a></br></div>
		<div class="col-md-3"></div>
  </div>
	</br>
  <div class="row">
    <div class="col-md-2">
			<div class="well" style="padding:0.2em;margin-left:0.5em;">
      {% include "menu.html" %}
			<br/>
      {% include "login.html" %}
			</div>
    </div>
    <div class="col-md-9">
			{% include "fil_arianne.html" %}
			{% block content %}{% endblock %}
		</div>
  </div>
  <div class="row">
    <div class="col-md-12"><center></br></br></br></center></div>
  </div>    
</body>

<script>

$(function () {
	
	//Set tooltip for multiple select
	$("select[multiple='multiple']").each(function() {
		this.setAttribute("data-toggle","tooltip");
		this.setAttribute("data-placement","right");
		this.setAttribute("data-html","true");
		this.setAttribute("title","Ctrl + Click pour selectioner plusieurs éléments");
		this.setAttribute("onClick","updateMulipleSelectTooltip(this)"); 
		updateMulipleSelectTooltip(this);
	});

  $("[data-toggle='tooltip']").tooltip();
});
		
function setValue(name,value) {

	//Si c'est un formItem (une element de formulaire que l'ont peux ajouter au dynamiquement)
	if(/(\w+)(\d+)(\w+)/.test(name)) { 
		var funcName = "addFormitem"+RegExp.$1;
		for(i=this['nbFormItem'+RegExp.$1];i<=parseInt(RegExp.$2);i++) { 
			window[funcName](); 
		}
	}
	
	elements = document.getElementsByName(name); 
	if(elements[0] != undefined) {
		if( elements[0].nodeName == 'SELECT' ) {
			for ( var i = 0; i < elements[0].options.length; i++ ) {				
				if(elements[0].options[i].value == value) {  
					elements[0].options[i].selected = true; }
			}
		}
		else if( elements.length > 1 ) {
			for ( var i = 0; i < elements.length; i++ ) {				
				if(elements[i].value == value) {  
					elements[i].checked = true; }
			}
		} 
		else { elements[0].value = value; }
	}
} 

function updateMulipleSelectTooltip(el) {
	var newTitle = "";
	var addBr = false;
	for(i=0; i<el.options.length; i++) {
		if (el.options[i].selected) {
			addBr = true;
			newTitle = "- " + el.options[i].text + "</br>" + newTitle;
		}
	}
	if (addBr) newTitle = newTitle + "</br>Ctrl + Click pour selectioner plusieurs éléments";
	else newTitle = "Ctrl + Click pour selectioner plusieurs éléments";
	
	$(el).tooltip('toggle')
       .attr('data-original-title', newTitle)
       .tooltip('fixTitle')
       .tooltip('toggle');
}

</script>

</html>