{% extends "page_base.html" %}

{% comment %}

	Ce template affiche les détails d'une personne contenu dans la varaible:
		* personneinfos

{% endcomment %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
	<h2><center><b>{{personneinfos.nom|capfirst}} {{personneinfos.prenom|capfirst}}</b>
		{% if user.is_authenticated %}
			<div style="float:right">
			<a href="/saisie/update/personne/{{personneinfos.id}}">
				<span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="auto" 
					title="Modifier les informations de cette personne"></span>
			</a>
			<a href="javascript:toogledelPersonneModal()">
				<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="auto" 
					title="Supprimer cette personne"></span>
			</a>
			</div>
			{% include "modal.html" with modalId="delPersonneModal" modalTitle="Supprimer personne" %}
		{% endif %}
		</center></h2>
	<br>
	<table class="table table-striped">
		<tr class="row">
			<th class="col-md-5">Pseudonyme :</th>
			<td class="col-md-5">{{personneinfos.pseudonyme}}</td>
		</tr>
		<tr class="row">
			<th class="col-md-5">URL sur Cesar :</th>
			<td class="col-md-5"><a href="{{personneinfos.uri_cesar}}">{{personneinfos.uri_cesar}}</a></td>
		</tr>
		<tr class="row">
			<th class="col-md-5">Genre :</th>
			<td class="col-md-5">{{personne_genre}}</td>
		</tr>
		<tr class="row">
			<th class="col-md-5">Nationalité :</th>
			<td class="col-md-5">{{personne_nationalite}}</td>
		</tr>
		<tr class="row">
			<th class="col-md-5">Titre Personne :</th>
			<td class="col-md-5">{{personneinfos.titre_personne}}</td>
		</tr>
		<tr class="row">
		{% if personneinfos.date_de_naissance_isComplete %}
			<th class="col-md-5">Date de naissance :</th>
			<td class="col-md-5">{{personneinfos.date_de_naissance}}</td>
		{% else %}
			<th class="col-md-5" style="background-color: #f2dede">Date de naissance :</th>
			<td class="col-md-5" style="background-color: #f2dede" data-toggle="tooltip" data-placement="right" title="Date incomplète">
				{{personneinfos.date_de_naissance_text}} <span class="glyphicon glyphicon-warning-sign" style="float:right;"/>
			</td>
		{% endif %}			
		</tr>
		<tr class="row">
		{% if personneinfos.date_de_deces_isComplete %}
			<th class="col-md-5">Date de déces :</th>
			<td class="col-md-5">{{personneinfos.date_de_deces}}</td>
		{% else %}
			<th class="col-md-5" style="background-color: #f2dede">Date de déces :</th>
			<td class="col-md-5" style="background-color: #f2dede" data-toggle="tooltip" data-placement="right" title="Date incomplète">
				{{personneinfos.date_de_deces_text}} <span class="glyphicon glyphicon-warning-sign" style="float:right;"/>
			</td>
		{% endif %}		
		</tr>
		<tr class="row">
			<th class="col-md-5">Plus d'informations :</th>
			<td class="col-md-5">{{personneinfos.plus_dinfo}}</td>
		</tr>
	</table>
</div>

<script>
	$(function() {
		var modalContent = "<h4>Etes-vous sur de vouloir supprimer la personne <b>{{personneinfos.titre}} {{personneinfos.prenom}} {{personneinfos.nom}}</b></h4></br></br>"
		modalContent += "<button type='button' class='btn' onCLick='toogledelPersonneModal()'>Non</button> "		
		modalContent += "<a href='/saisie/delete/personne/{{personneinfos.id}}'><button type='button' class='btn btn-primary'>Oui</button></a>"
		addTodelPersonneModal(modalContent);
	})
</script>

{% endblock %}