{% extends "page_base.html" %}

{% comment %}

	Ce template affiche les détails d'une piece contenu dans la variable
		pieceinfos

{% endcomment %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row" style="text-align:center">
	<h2><b>{{pieceinfos.titre|capfirst}}</b>
		{% if user.is_authenticated %}
			<div style="float:right">
			<a href="/saisie/update/piece/{{pieceinfos.id}}">
				<span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="auto" 
					title="Modifier les informations de cette piece"></span>
			</a>
			<a href="javascript:toogledelPieceModal()">
				<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="auto" 
					title="Supprimer cette piece"></span>
			</a>
			</div>
			{% include "modal.html" with modalId="delPieceModal" modalTitle="Supprimer pièce" %}
		{% endif %}
	</h2>
	<br>
	<table class="table table-striped">
		<tr class="row">
			<th class="col-md-5">Titre brenner :</th>
			<td class="col-md-5">{{pieceinfos.titre_brenner}}</td>
		</tr>
		<tr class="row">
			<th class="col-md-5">URL sur Theaville :</th>
			<td class="col-md-5"><a href="{{pieceinfos.uri_theaville}}">{{pieceinfos.uri_theaville}}</a></td>
		</tr>
		<tr class="row">
		{% if pieceinfos.date_premiere_isComplete %}
			<th class="col-md-5">Date de la première :</th>
			<td class="col-md-5">{{pieceinfos.date_premiere}}</td>
		{% else %}
			<th class="col-md-5" style="background-color: #f2dede">Date de la première :</th>
			<td class="col-md-5" style="background-color: #f2dede" data-toggle="tooltip" data-placement="right" title="Date incomplète">
				{{pieceinfos.date_premiere_text}} <span class="glyphicon glyphicon-warning-sign" style="float:right;"/>
			</td>
		{% endif %}
		</tr>
		<tr class="row">
			<th class="col-md-5">Langue :</th>
			<td class="col-md-5">{{piece_langue}}</td>
		</tr>
		<tr class="row">
			<th class="col-md-5">Auteurs :</th>
			<td class="col-md-5">
				{% for auteur in pieceinfos.auteurs.all %}
					<a href="/personnes/{{auteur.id}}">{{auteur.nom}} {{auteur.prenom}}</a>,
				{% endfor %}
			</td>
		</tr>
		<tr class="row">
			<th class="col-md-5">Commentaire :</th>
			<td class="col-md-5">{{pieceinfos.commentaire}}</td>
		</tr>
	</table>
</div>

<script>
	$(function() {
		var modalContent = "<h4>Etes-vous sur de vouloir supprimer la pièce <b>{{pieceinfos.titre}}</b> de {% for auteur in pieceinfos.auteurs.all %}{{auteur.nom}} {{auteur.prenom}}</a>{% endfor %}</h4></br></br>"
		modalContent += "<button type='button' class='btn' onCLick='toogledelPieceModal()'>Non</button> "		
		modalContent += "<a href='/saisie/delete/piece/{{pieceinfos.id}}'><button type='button' class='btn btn-primary'>Oui</button></a>"
		addTodelPieceModal(modalContent);
	})
</script>
{% endblock %}