{% extends "page_base.html" %}

{% comment %}

	Template qui permet la recherche multi-critères
	
	* results variable qui contient les resultats de la recherche

{% endcomment %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<link href="/static/css/datepicker.css" rel="stylesheet"> 

<br/>

<form id='statform' class="form-horizontal" method="post" action="/stats/#results"> {% csrf_token %} 

	<div class="form-inline row" style="margin-bottom: 0.5em;text-valign: bottom;"> 
    <div class="col-md-1 control-label"><b>De :</b></div>
		<div class="col-md-2" style="margin-bottom: 0.5em;text-valign: bottom;">
			<input class="form-control input-sm" id="datestat1" name="datestatfrom" type="text" value="1700-01-01"/>
		</div>
		<div class="col-md-1 control-label"><b>À :</b></div>
		<div class="col-md-2" style="margin-bottom: 0.5em;text-valign: bottom;">
			<input class="form-control input-sm" id="datestat2" name="datestatto" type="text" value="1799-12-31"/>
		</div>
		<div class="col-md-1 control-label"><b>Par :</b></div>
		<div class="col-md-2" style="margin-bottom: 0.5em;text-valign: bottom;">
			<select class="form-control input-sm" id="dstat2" name="dateby">
				<option value="decenis">décénis</option>
				<option value="ans">ans</option>
				<option value="mois">mois</option>
				<option value="semaines">semaines</option>
				<option value="jours">jours</option>
			</select>
		</div>
		<div class="col-md-1 control-label"><b>Sur :</b></div>
		<div class="col-md-2" style="margin-bottom: 0.5em;text-valign: bottom;">
			<select class="form-control input-sm" id="infoOn" name="infoOn">
				<option value="periode">période</option>
				<option value="acteur">acteur(s)</option>
				<option value="representation">représentation(s)</option>
			</select>
		</div>
	</div>

	<div class="form-inline row" style="margin-bottom: 0.5em;text-valign: bottom;"> 
		
	</div>

	<div class="form-inline row" style="margin-bottom: 0.5em;text-valign: bottom;"> 
		<div class="col-md-10 col-md-offset-1">
			<table class="table table-striped col-md-10">
				<thead><tr>
					<th>Relation</th>
					<th clospan="2">Type</th>
					<th>Élément</th>
					<th></th>
				</tr></thead>
				<tbody id="formConcerne"></tbody>
				<tfoot><tr><td colspan=4>
					<input type="hidden" name="lastConcerneIndex" value="0"/>
					<button class="btn btn-sm" type="button" onclick="addFormitemconcerne()"><span class="glyphicon glyphicon-plus"></span></button>
				</td></tr></tfoot>
			</table>
		</div>
	</div>
	
	<div class="row"> 
		<button class="btn btn-primary col-md-offset-1" type="submit" id='statButton'>Générer</button> 
	</div>
</form>

<div id="results" class="row">
		{{results|safe}}
</div>

<script src="/static/js/bootstrap-datepicker.js"></script> 
<script>

{% load type_filter %}

	$(function(){ 
		$('#datestat1').datepicker({format: 'yyyy-mm-dd'}).data('datepicker');
		$('#datestat2').datepicker({format: 'yyyy-mm-dd'}).data('datepicker');
		
		/*Set the previous filled value */
		{% for el in previous_criteria %}
			{% if el.1|type == 'list' %} {% for selectedField in el.1 %} setValue('{{el.0}}','{{ selectedField }}'); {% endfor %}
			{% elif el.1|type == 'date' %} setValue('{{el.0}}','{{ el.1|date:"Y-m-d" }}'); 
			{% else %} setValue('{{el.0}}','{{el.1}}');
			{% endif %}
			{% if 'date' in el.0 %}$('[name={{el.1}}]').trigger('keyup');{% endif %}
			{% if 'type' in el.0 %}$('[name={{el.0}}]').change();{% endif %}					
		{% endfor %}
		
	});
	
	nbFormItemconcerne = 0;
	function addFormitemconcerne(){
		newRow = window.document.getElementById("formConcerne").insertRow(-1);	
		
		//Relation
		newCell = newRow.insertCell(-1);
		var arr = [
		  {val : 'avec', text: 'Avec'},
		  {val : 'ou', text: 'Ou'},
		  {val : 'sans', text: 'Sans'}
		];
		var select = $('<select>').attr('class','form-control input-sm')
			.attr('name','concerne' + nbFormItemconcerne + 'relation');
		$(arr).each(function() {
		 select.append($("<option>").attr('value',this.val).text(this.text));
		});
		$(newCell).append(select);
		
		//Type
		newCell = newRow.insertCell(-1);
		var arr = [
		  {val : 'personne', text: 'Personne'},
		  {val : 'piece', text: 'Piece'},
		  {val : 'budget', text: 'Budget'}
		];
		var select = $('<select>').attr('class','form-control input-sm')
			.attr('name','concerne' + nbFormItemconcerne + 'type')
			.attr('onchange','updateSelect("concerne' + nbFormItemconcerne + '")');
		$(arr).each(function() {
		 select.append($("<option>").attr('value',this.val).text(this.text));
		});
		$(newCell).append(select);
		
		//Valeurs
		newCell = newRow.insertCell(-1); //Liste personnes
		var arr = [{% for personne in all_personnes %}			
			{val: {{personne.0}}, text: '{{personne.1}}'},{% endfor %}
		];
		var select = $('<select>').attr('class','form-control input-sm')
			.attr('id','personne_concerne' + nbFormItemconcerne + 'element');
		select.append($("<option>").attr('value',0).text('Toutes'));
		$(arr).each(function() {
		 select.append($("<option>").attr('value',this.val).text(this.text));
		});
		$(newCell).append(select); //Liste pieces
		var arr = [{% for piece in all_pieces %}			
			{val: {{piece.0}}, text: '{{piece.1}}'},{% endfor %}
		];
		var select = $('<select>').attr('class','form-control input-sm')
			.attr('id','piece_concerne' + nbFormItemconcerne + 'element');
		select.append($("<option>").attr('value',0).text('Toutes'));
		$(arr).each(function() {
		 select.append($("<option>").attr('value',this.val).text(this.text));
		});
		$(newCell).append(select); //Liste elements du budget
		var arr = [{% for piece in all_pieces %}			
			{val: {{piece.0}}, text: '{{piece.1}}'},{% endfor %}
		];
		var select = $('<select>').attr('class','form-control input-sm')
			.attr('id','budget_concerne' + nbFormItemconcerne + 'element');
		select.append($("<option>").attr('value','tout').text('Tout'));
		select.append($("<option>").attr('value','debit').text('Débits'));		
		select.append($("<option>").attr('value','billetterie').text('Billetterie'));
		$(newCell).append(select);
		
		newCell = newRow.insertCell(-1);
		newCell.setAttribute('style','text-align:right;');
		newCell.innerHTML = '<button class="btn btn-sm" type="button" onclick="delConcerne(this);"><span class="glyphicon glyphicon-remove"/></button>';
		updateSelect('concerne'+nbFormItemconcerne);		
		$('[name=lastConcerneIndex]').val(nbFormItemconcerne);		
		nbFormItemconcerne++;
	}
	function delConcerne(r)
	{
		var i = r.parentNode.parentNode.rowIndex;
		document.getElementById("formConcerne").deleteRow(i-1);
	}
	
	function updateSelect(name) {
		
		$('#piece_'+name+'element').attr('style', 'display:none').attr('name','hidden');
		$('#personne_'+name+'element').attr('style', 'display:none').attr('name','hidden');
		$('#budget_'+name+'element').attr('style', 'display:none').attr('name','hidden');
		
		$('#'+$('select[name='+name+'type]').val()+'_'+name+'element').attr('style', 'diplay:inline')
			.attr('name', name+'element');
	}

</script>
	 
{% endblock %}